window.timber = window.timber || {};

timber.cacheSelectors = function () {
  timber.cache = {
    // General
    $html: $('html'),
    $body: $('body'),

    // Navigation
    $navigation: $('#accessibleNav'),

    // Product Page
    $productImage: $('#productPhotoImg'),
    $thumbImages: $('#productThumbs').find('a.product-photo-thumb')
  }
};

timber.init = function () {
  timber.preloadImages();
  timber.cacheSelectors();
  timber.accessibleNav();
  timber.productImageSwitch();
  timber.responsiveVideos();
  timber.amazeLoad();
  timber.largeImageResize();
  timber.getPages();
  timber.pagesScroll();
  timber.loadBg();
  timber.Geo();
  timber.preloadImages();
  timber.carouselScroll();
  timber.jsonProductBuild();
  timber.productSlider();
  timber.buildProducts();
  timber.mobileNav();
};

timber.preloadImages = function() {

  (function($) {
    function parseImagesFromCSS(doc) {
      var i, j,
        rule,
        image,
        pattern = /url\((.*)\)/,
        properties = ['background-image', '-webkit-border-image'],
        images = {};
   
      if (doc.styleSheets) {
        for (i = 0; i < doc.styleSheets.length; ++i) {
          images = $.extend(images, parseImagesFromCSS(doc.styleSheets[i]));
        }
      } else if (doc.cssRules) {
        for (i = 0; i < doc.cssRules.length; ++i) {
          rule = doc.cssRules[i];
          if (rule.styleSheet) {
            images = $.extend(images, parseImagesFromCSS(rule.styleSheet));
          } else if (rule.style) {
            for (j=0; j < properties.length; j++) {
              image = pattern.exec(rule.style.getPropertyValue(properties[j]));
              if (image && image.length === 2) {
                images[image[1]] = image[0];
              }
            }
          }
        }
      }
      return images;
    };
    $.extend({
      preload: {
        images: function(doc) {
          doc = doc || document;
          var images = $.map(parseImagesFromCSS(doc), function(url) { return url; }),
            head = doc.getElementsByTagName('head')[0],
            style = doc.createElement('style');
          style.type = 'text/css';
          style.id = 'store-front';
          style.innerHTML = 'body::after { content: ' + images.join(' ') + '; display: none; }';
          head.appendChild(style);
        }
      }
    });
  })(jQuery);
  
};

timber.accessibleNav = function () {
  var $nav = timber.cache.$navigation,
      $allLinks = $nav.find('a'),
      $topLevel = $nav.children('li').find('a'),
      $parents = $nav.find('.site-nav--has-dropdown'),
      $subMenuLinks = $nav.find('.site-nav--dropdown').find('a'),
      activeClass = 'nav-hover',
      focusClass = 'nav-focus';

  // Mouseenter
  $parents.on('mouseenter touchstart', function(evt) {
    var $el = $(this);

    if (!$el.hasClass(activeClass)) {
      evt.preventDefault();
    }

    showDropdown($el);
  });

  // Mouseout
  $parents.on('mouseleave', function() {
    hideDropdown($(this));
  });

  $subMenuLinks.on('touchstart', function(evt) {
    // Prevent touchstart on body from firing instead of link
    evt.stopImmediatePropagation();
  });

  $allLinks.focus(function() {
    handleFocus($(this));
  });

  $allLinks.blur(function() {
    removeFocus($topLevel);
  });

  // accessibleNav private methods
  function handleFocus ($el) {
    var $subMenu = $el.next('ul');
        hasSubMenu = $subMenu.hasClass('sub-nav') ? true : false,
        isSubItem = $('.site-nav--dropdown').has($el).length,
        $newFocus = null;

    // Add focus class for top level items, or keep menu shown
    if ( !isSubItem ) {
      removeFocus($topLevel);
      addFocus($el);
    } else {
      $newFocus = $el.closest('.site-nav--has-dropdown').find('a');
      addFocus($newFocus);
    }
  }

  function showDropdown ($el) {
    $el.addClass(activeClass);

    setTimeout(function() {
      timber.cache.$body.on('touchstart', function() {
        hideDropdown($el);
      });
    }, 250);
  }

  function hideDropdown ($el) {
    $el.removeClass(activeClass);
    timber.cache.$body.off('touchstart');
  }

  function addFocus ($el) {
    $el.addClass(focusClass);
  }

  function removeFocus ($el) {
    $el.removeClass(focusClass);
  }
};

timber.productImageSwitch = function () {
  if ( timber.cache.$thumbImages.length ) {
    // Switch the main image with one of the thumbnails
    // Note: this does not change the variant selected, just the image
    timber.cache.$thumbImages.on('click', function(evt) {
      evt.preventDefault();
      var newImage = $(this).attr('href');
      timber.switchImage(newImage, null, timber.cache.$productImage);
    });
  }
};

timber.switchImage = function (src, imgObject, el) {
  // Make sure element is a $ object
  var $el = $(el);
  $el.attr('src', src);
};

timber.responsiveVideos = function () {
  $('iframe[src*="youtube.com/embed"]').wrap('<div class="video-wrapper"></div>');
  $('iframe[src*="player.vimeo"]').wrap('<div class="video-wrapper"></div>');
};

timber.amazeLoad = function () {

  function redirectTo(url) {
    window.location = url;
  }

  var page_shown = false;
  function showPage() {
    if (!page_shown) {
      page_shown = true;
      $('body').fadeIn(500);
    }
  }

  var siteURL = "http://" + top.location.host.toString();
  $('a.openFade').on('click', function(e) {
    e.preventDefault();
    var loc = $(this).attr('href');
    $('.loader').fadeIn(100).transition({
      opacity: 1
    }, 300);
    $('.body').fadeOut(500, function() {
      $('.loader').fadeOut(100).transition({
      opacity: 0
    }, 300);
      redirectTo(loc);
    });
  });
};

timber.largeImageResize = function () {

  var $window = $(window);
  var w = $window.width();

  if (w <= 580) {
    var windowsize = $window.height();
    var footerHeight = $('footer').outerHeight();
    var top = $('.site-header').outerHeight();
    var remainHeight = parseInt('22');
    $('.image-bigger').parent().css('height',windowsize -footerHeight);
    $('.article-container-land').css('height',windowsize -footerHeight -remainHeight);
    $('body').addClass('mobile-active');
    {% comment %}$('.main-content').css('height',windowsize -footerHeight);{% endcomment %}
  } else {

    function checkWidth() {
        var windowsize = $window.height();
        var footerHeight = $('footer').outerHeight();
        var top = $('.site-header').outerHeight();
        var remainHeight = parseInt('22');
        $('.image-bigger').css('height',windowsize -footerHeight);
        $('.store-large').css('height',windowsize -footerHeight);
        $('.article-container-land').css('height',windowsize -footerHeight -remainHeight);
        $('#collection-slider').css('height',windowsize -footerHeight -top);
        $('#product-main').css('height',windowsize -footerHeight -top);
        $('#collection-slider, #product-main').css('marginTop',top);
        $('#empty-cart').css('height',windowsize -footerHeight);
    }

    // Execute on load
    checkWidth();
    // Bind event listener
    $(window).resize(checkWidth);

  }

};


timber.pagesScroll = function() {


  
};

timber.loadBg = function() {

  $(".store-large .inner-wrap h1:eq(0), .store-large .inner-wrap h1:eq(1)").wrapAll("<div id='top-wines'></div>")
  
};

timber.Geo = function() {
  {% comment %}if ($('body#our-store').length){
    $.ajax( { 
      url: '//freegeoip.net/json/', 
      type: 'POST', 
      dataType: 'jsonp',
      success: function(location) {
      var code = location.country_code;
      var country = location.country_name;
      var div = $('#store-front');
        if (code === 'GB') {
          //window.location.href = 'http://shop-in-canada.myshopify.com';
          div.css("background-image", "url('{{ "uk-background.png" | asset_url }}')");
          div.html('<div class="wrap"><div class="inner-wrap"><h1 class="animate fadeIn step-1">Welcome to the <br><a href="http://www.google.co.uk">'+code+' store</a></h1></div></div>');          
        } else if(code === 'US') {
          div.css("background-image", "url('{{ "us-background.png" | asset_url }}')");
          div.html('<div class="wrap"><div class="inner-wrap"><h1 class="animate fadeIn step-1">Welcome to the <br><a href="http://www.google.co.uk">'+code+' store</a></h1></div></div>');          
        } else if(code === 'NZ') {
          nz_bg = {{ "3.png" || asset_url }};
          div.css("background-image", "url('{{ "nz-background.png" | asset_url }}')");
          div.html('<div class="wrap"><div class="inner-wrap"><h1 class="animate fadeIn step-1">Welcome to the <br><a href="http://www.google.co.uk">'+code+' store</a></h1></div></div>');
        }
      }
    });
  }  {% endcomment %}
};

timber.getPages = function() {

if ($('body#our-story').length){

  $.each( $("#data-urls li") , function () {

    var dataUrl = $(this).attr('data-url');
    var jsonObj = [];

    var sliderStory = $('.article-container-land').royalSlider({
      arrowsNav: true,
      arrowsNavAutoHide: false,
      fadeinLoadedSlide: true,
      controlNavigation: 'none',
      imageAlignCenter:true,
      loop: false,
      loopRewind: false,
      numImagesToPreload: 6,
      slidesOrientation: 'vertical',
      keyboardNavEnabled: true,
      addActiveClass: true,
      imageScaleMode: 'fill',
      arrowsNavAutoHide: false,
      autoScaleSlider: false, 
      autoScaleSliderWidth: 1960,     
      autoScaleSliderHeight: 800,
      video: {
        autoHideArrows:true,
        autoHideControlNav:true
      },  
    }).data('royalSlider');

    sliderStory.ev.on('rsAfterSlideChange', function(e,type) {
        var currentSlide = sliderStory.currSlide;
        if( sliderStory.currSlide ) {
          var $head = sliderStory.currSlide.holder.find('h1');
          var $body = sliderStory.currSlide.holder.find('p');
          var $line = sliderStory.currSlide.holder.find('.style-line');
          {% comment %}$($head).addClass('animate fadeIn delay-1');
          $($line).addClass('animate fadeIn delay-1');
          $($body).addClass('animate fadeIn delay-2');{% endcomment %}

        } else {
          var $head2 = sliderStory.holder.find('h1');
          var $body2 = sliderStory.holder.find('p');
          $($head2).removeClass('animate fadeIn delay-1');
          $($body2).removeClass('animate fadeIn delay-2');
        }
        {% comment %}sliderStory.currSlide.holder.transition({
          opacity: 1,
          duration: 500,
          easing: 'in',
          delay: 500
        });{% endcomment %}
    });

        
    $.get( dataUrl, function( data ) {

      $.each(data, function(i, item) {
        var body = data[i].body_html,title = data[i].title,id = data[i].handle;
        sliderStory.appendSlide('<section id="'+ id +'" href="#'+ id +'" class="big-stretch active"><figure class="inner"><div class="inner-stretch"><div class="box"><h1 class="">'+ title +'</h1><hr class="style-line"><p class="">'+ body +'</p></div></div></figure></section>');
        {% comment %}attach.append('<section id="'+ id +'" href="#'+ id +'" class="big-stretch"><figure class="inner"><div class="inner-stretch"><h1 class="h1">'+ title +'</h1><hr class="style-line"><p>'+ body +'</p></div></figure></section>');{% endcomment %}
        timber.largeImageResize();
      });
    }, 'json');
  });

}
  
};

timber.carouselScroll = function(){
  {% comment %}$(function(){
    var WineSwiper = $('#wines .swiper-container').swiper({
      mode : 'horizontal',
      speed: 700,
      updateOnImagesReady: true,
      centeredSlides: true,
      slidesPerView: 'auto'
    });
  });{% endcomment %}

  window.onload = function() {
      var WineSwiper = new Swiper('#wines .swiper-container', {
        mode:'horizontal',
        loop: false,
        updateOnImagesReady: true,
        centeredSlides: true,
        slidesPerView: 'auto',
        onSlideChangeEnd: function(WineSwiper){
          infoEffectIn('.swiper-slide-active .bag-info');
          $(this).addClass('this-is-active');
        },
        onSlidePrev: function(WineSwiper){
          infoEffectOut('.swiper-slide .bag-info');
        },
        onSlideNext: function(WineSwiper){
          infoEffectOut('.swiper-slide .bag-info');
        }
      });

      function infoEffectIn(element){
        $(element).transition({
          opacity: 1
        });
      }
      function infoEffectOut(element){
        $(element).transition({
          opacity: 0
        });
      }

      $('.arrow-left').on('click', function(e){
        e.preventDefault();
        WineSwiper.swipePrev();
      });

      $('.arrow-right').on('click', function(e){
        e.preventDefault();
        WineSwiper.swipeNext();
      });  
  }

};

timber.jsonProductBuild = function() {
  
};

timber.productSlider = function() {

  var sliderProduct = $('#productThumbs').royalSlider({
      arrowsNav: true,
      arrowsNavAutoHide: false,
      fadeinLoadedSlide: true,
      controlNavigation: 'none',
      imageAlignCenter:true,
      loop: false,
      loopRewind: false,
      numImagesToPreload: 6,
      slidesOrientation: 'horizontal',
      keyboardNavEnabled: true,
      addActiveClass: true,
      imageScaleMode: 'fill',
      arrowsNavAutoHide: false,
      autoScaleSlider: false, 
      autoScaleSliderWidth: 1960,     
      autoScaleSliderHeight: 800,
      video: {
        autoHideArrows:true,
        autoHideControlNav:true
      },  
    }).data('royalSlider');
  
};

timber.buildProducts = function() {
  
{% comment %}  var $products = $(".swiper-container .swiper-wrapper .swiper-slide");
    $.each($products, function (i, $products) {

      var item = $(this);
      setTimeout(function(){
        $(item).addClass('animate fadeIn');
      }, i * 500 );

    });
{% endcomment %}
}

timber.mobileNav = function() {

  var flag = false;
  $('.mobile-navbar img').bind('touchstart click', function(e){

    var open = $(this).parent().find('.open');
    var close = $(this).parent().find('.closed');
    var mobileSub = $('.mobile-nav ul.site-nav--dropdown'),
    mobileSubHeight = mobileSub.height();

    if (!flag) {
      flag = true;
      setTimeout(function(){ flag = false }, 100);

      if ( $('body').hasClass('mobile-active') ){
        
        $(this).addClass('mobile-navbar-active');
        $('body').removeClass('mobile-active');
        open.css('display','block');
        close.css('display','none');
        $('.mobile-nav').transition({
          'height': '150px'
        });

      } else {

        $(this).removeClass('mobile-navbar-active');
        $('body').addClass('mobile-active');
        open.css('display','none');
        close.css('display','block');
        $('.mobile-nav').transition({
          'height': '0px'
        });

      }
    }
    return false;
  });
  // The sub menu needs some toggle love too
  // This will attach a handler to the flag and add the toggle to the sub menu li class
  {% comment %}$('.mobile-nav ul li.site-nav--has-dropdown a').bind('touchstart click', function(e){

    var mobileSub = $('.mobile-nav ul ul.site-nav--dropdown'),
    mobileSubHeight = mobileSub.height();

    if (!flag) {
      flag = true;
      setTimeout(function(){ flag = false }, 100);

      if ( $('.mobile-nav').css('height','150') ){
        
        $('.mobile-nav').transition({
          'height': mobileSubHeight + 150
        });

      } else {

        $('.mobile-nav').transition({
          'height': '150px'
        });
        return true;

      }
    }
    return false;
  });{% endcomment %}
}

  


// Initialize Timber's JS on docready
$(timber.init)
