<div class="image-bigger" style="background-image: url({{ 'slide-image-1.jpg' | asset_url }});">

  <div class="wrap">
    <div class="inner-wrap">
      <h1 class="animate fadeIn step-1">This page does not seem to exist.</h1>
      <h3 class="animate fadeIn step-2">Click <a href="/">here</a> to go back.</h3>
    </div>
  </div>

</div>