{% comment %}
  This is the dining page for Seresin.
  Features included:
    - Full screen image
    - Animated text to fade in on page load
    - responsive full bleed
{% endcomment %}
<ul id="data-urls-dining" style="display: none;">
  {% for link in linklists.dining-menu.links %}
    <li data-url="{{ link.url }}.json"></li>
  {% endfor %}
</ul>
<div class="grid">
  {% comment %}<div class="grid-item grid--full">{% endcomment %}
      <div id="dining-loader">
        <div id="product-loader">
          <div class="loading"><div class="load fadeFlash"><img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}"></div></div>
        </div>
      </div>
      <article id="dining" class="article-container-dining rsMinW">

      </article>
      {% comment %}{{ page.content }}{% endcomment %}
  {% comment %}</div>{% endcomment %}
</div>