<div class="grid">

  <div class="grid-item grid--full">

    <h1>{{ page.title }}</h1>
    <div class="rte">
    	<div class="error"></div>
    	<div class="article-container-land"></div>
      {% comment %}{{ page.content }}{% endcomment %}
    </div>

  </div>

</div>