<div class="grid">
  {% comment %}<div class="grid-item grid--full">{% endcomment %}
       	<article id="pages" class="article-container-land rsMinW">
    		
    	</article>
      {% comment %}{{ page.content }}{% endcomment %}
  {% comment %}</div>{% endcomment %}
</div>